.conteudo {
  width: 1920px;
  height: 1080px;
  position: fixed;
  left: calc(50% - 1920px / 2);
  top: calc(50% - 1080px / 2);
  margin: auto;
  overflow: hidden;
}

/**********************************************************/
/*******************    tela capa   ***********************/
/**********************************************************/

.tela-capa {
  background-image: url("../img/bg-capa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
  width: 1920px;
  text-align: center;
  align-items: end;
}

.btn-iniciar {
  width: 221px;
  position: absolute;
  bottom: 201px;
  left: 853px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-iniciar .iniciar-imagem {
  transition: 0.3s;
}

.btn-iniciar:hover .iniciar-imagem {
  content: url("../img/bt_iniciar_hv.png");
}

/**********************************************************/
/****************** tela introducao  **********************/
/**********************************************************/

.bg-jogo {
  background-image: url("../img/bg-jogo-em-andamento.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tela-introducao {
  background-image: url("../img/bg-intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
  width: 1920px;
}

.btn-jogar {
  background-image: url("../img/quadrado-intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 330px;
  height: 167px;
  position: absolute;
  top: 609px;
  left: 925px;
  background-color: #fff0;
  border: none;
  padding: 6px;
  font-size: 2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.btn-jogar:hover {
  background-color: rgba(255, 255, 255, 0);
}

/**********************************************************/
/*********************   telas jogo  **********************/
/**********************************************************/

.bg-jogo {
  position: relative;
}

.div-cena {
  position: absolute;
  width: 1415px;
}

.img-peca {
  margin: 0px;
  padding: 0px;
  border-radius: 0px 34px 34px 0px;
}

.balao-conversa {
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  padding-top: 13px;
}

.erro1 {
  background-image: url("../img/balao_1.png");
  top: 282px;
  left: 345px;
  width: 233px;
  height: 102px;
}

.erro2 {
  left: 42px;
  top: 269px;
  width: 368px;
  height: 157px;
}

.btn-target {
  position: absolute;
  background-color: #fff0;
  border: none;
}

button:focus {
  outline: 1px dotted #fff0;
}

.btn-target .target-img {
  transition: 0.3s;
}

.btn-target:hover .target-img {
  content: url("../img/target.png");
}

.target1 {
  top: 392px;
  left: 256px;
}

.target2 {
  top: 411px;
  left: 5pc;
}

.transparente {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-fluid.img-cenario {
  border-radius: 34px 0px 0px 34px;
}

.img-header {
  width: 100% !important;
}

.div-texto {
  margin: 0px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0px 34px 34px 0px;
  text-align: left;
}

.p-texto {
  padding: 20px;
}

.div-span {
  margin-top: auto;
  padding: 20px;
}

.btn-continuar {
  background-color: #dee9f9;
  width: 100%;
  margin: 3px;
  margin-bottom: 24px;
  font-size: 2rem;
  border-radius: 20px;
  border: 1px solid #567194;
  box-shadow: 5px 4px 1px #567194;
  color: #567194;
  transition: transform 0.2s ease;
}

.btn-continuar:hover {
  transform: scale(0.95);
  transform-origin: center center;
}

.escalar {
  transform: scale(1.9);
  transition: transform 2s ease;
}

/**********************************************************/
/******************* vire o celular ***********************/
/**********************************************************/

.p-paisagem {
  color: white;
  text-align: center;
}

.img-paisagem {
  max-width: 70% !important;
  height: auto;
  display: block;
}

.modo-smart {
  display: none;
}

@media only screen and (orientation: portrait) {
  .modo-smart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5b2885;
    z-index: 9999999999999999999;
  }
}

/**********************************************************/
/******************* modal         ***********************/
/**********************************************************/

.introducao-modal {
  background-color: #004788;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.introducao-slide {
  text-align: center;
  padding: 20px;
}

.introducao-titulo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.introducao-texto {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #ffffff;
}

.introducao-titulo-secundario {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
  color: #ffffff;
}

.btn-comecar-jogo {
  background-color: #92acce;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  color: #004788;
  border-radius: 5px;
}

.btn-comecar-jogo:hover {
  background-color: #81a2bb;
  color: #ffffff;
}

.carousel-indicators button {
  background-color: #92acce;
  border: none;
}

.carousel-indicators .active {
  background-color: #004788;
}
